* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F1F1F;
  color: #FFFF;
  font-family: monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.4rem;
  }

.header__title {
  font-size: 1.5rem;
  font-weight: 550;
}
