* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F1F1F;
  color: #FFFF;
  font-family: monospace;
}

.header__title {
  margin: 1.4rem;
  font-size: 1.5rem;
  font-weight: 550;
  text-align: center;
}
